header {
    background: linear-gradient(to bottom, blue, white);
    margin: 20px;
    list-style-type: none;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}

.bienvenidos {
    background: linear-gradient(to bottom, blue, white);
    border: 5px red solid;
    box-shadow: 1px 1px 1px rgb(241, 5, 5);
    margin: 20px 0px;
    border-radius: 5px 20px 5px 10px;
    padding: 10px 50%;
    text-align: center;
    font-size: 24px;
    
}

p{
    column-count: 3;
    column-gap: 20px;
    margin: 8px 6px;
    font-size: 24px;

}