
input[type="text"],
select {
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  border: 2px solid rgb(99, 96, 96);
  border-radius: 12px;
  box-sizing: border-box;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-size: 18px;
}

input[type="submit"] {
  background-color: #00000863;
  color: white;
  border-color: #1d1d1d;
  border-radius: 8px;
  cursor: pointer;
  font-size: 23px;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}
 .enviar {
    box-shadow: none;
    
    float: right;
    
      }

input[type="submit"]:hover {
  background-color: #7b7e7d9c;

  
}

div {
  display: inline-block;
  margin: 25px;
  border-radius: 15px;
  background-color: #7f807e;
  padding: 20px;
  color: white;
  box-shadow: 10px 5px 5px red;
}

h3 {
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  margin: 20px 10px 10px 10px;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  background-color: rgb(105, 104, 104);
  box-shadow: 10px 5px 5px red;
  text-shadow: 4px 4px 4px #1d1d1d;

}
body {
  background-color: rgba(2, 0, 8, 0.966);
}

.tel-name {
  padding: 5px;
  margin: 0;
  box-shadow: none;
  
}
.tel-conf {
  margin-top: 20px;
  background-color: rgb(250, 248, 248);
  border: 1px solid black;
  padding: 14px;
  box-shadow: none;
  
  }

  ::placeholder {
    border: none;
    font-weight: 900;
    
  }
  .tel-opc {
    box-shadow: none;
    font-size: 17px;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    color: #dcddda;
    padding: 0px;
    margin-left: 0;
    margin-bottom: 0;
    border-radius: 12%;

  }
 input[type="telefono"] {
    box-sizing: content-box;
    width: 90%;
    padding: 7px;

 }

 ul {
    list-style: none;
    
}
.ul-container {
  padding: 20px;
  margin-top: -30px;
}

label{
  font-family: calibri;
  font-size: 18px;
  text-shadow: 4px 4px 4px #1d1d1d;
}

textarea {
  margin-top: 30px;
  margin-left: 5px;
  font-size: 17px;
  font-family:  Calibri, 'Trebuchet MS', sans-serif;
  
}