body {
  margin: 0;
  font-family: 'Lobster Two', cursive;, Arial, Helvetica, sans-serif;
  
}

ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 14%;
  background-color: #f1f1f1bb;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 100;
  
}

li a {
  display: inline-block;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 1.3em;
  }

li a.active {

  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

li {
  margin-left: 14px;
  text-align: left;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}



.hero-image {
  background: url(imagenes/portada.jpg) no-repeat center; 
  background-size: cover;
  height: 617px;
  position: relative;
}

.hero-text {
  font-size: 1.4em;
  text-align: center;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

p {
  margin-top: 250px;
}